table.person th {
  padding: 8px;
}

table.person td {
  padding-left: 8px;
  padding-right: 8px;
}

.filter {
  height:24px;
  width:100%;
  margin:0;
  padding:0;
}

.table-row-even {
  background-color: #f6f6ff;
}

div.inplace-editable {
  margin-left:2px;
  margin-top:1px;
  margin-bottom:2px;
}

input.inplace-editable {
  width: 100%;
}

