
<h1>Alles in einer einfachen Tabelle</h1>
<table class="person">
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Geschlecht</th>
    <th>Straße</th>
    <th>PLZ / Ort</th>
    <th>Land</th>
    <th>Sprache</th>
    <th>Geburtstag</th>
    <th>Jahreseinkommen</th>
  </tr>
  <tr ng-repeat="person in persons">
    <td>{{person.firstname}}</td>
    <td>{{person.lastname}}</td>
    <td style="text-align:center;">{{person.sex | sexSymbol}}</td>
    <td>{{person.street}}</td>
    <td>{{person.zip}} {{person.city}}</td>
    <td><img src="{{person.country | flagForCountry}}"/>{{person.country}}</td>
    <td style="text-align:center;"><img src="{{person.locale | flagForLocale}}"></img></td>
    <td style="text-align:center;">{{person.birthday | dateFormat:'dd.MM.yyyy'}}</td>
    <td style="text-align:right;">{{person.income | numberFormat:'#.##0,00'}}</td>
  </tr>  
</table>
