
<h1>Prefetch, Paging im Browser</h1>

<div class="row well">
  <div class="span4">
    <select ng-model="rowsPerPage" ng-options="r for r in [10, 20, 50]"></select>
  </div>
  <div class="span3">
    <div class="btn-group">
      <button class="btn" ng-disabled="! hasPrevPage()" ng-click="firstPage()">&lt;&lt;</button>
      <button class="btn" ng-disabled="! hasPrevPage()" ng-click="prevPage()">&lt;</button>
      <button class="btn" ng-disabled="true" style="width:7em;text-align:center;">{{curPage()}} / {{numPages()}}</button>
      <button class="btn" ng-disabled="! hasNextPage()" ng-click="nextPage()">&gt;</button>
      <button class="btn" ng-disabled="! hasNextPage()" ng-click="lastPage()">&gt;&gt;</button>
    </div>
  </div>
</div>

<table>
  <tr>
    <th>Vorname</th>
    <th>Nachname</th>
    <th>Geschlecht</th>
    <th>Straße</th>
    <th>PLZ / Ort</th>
    <th>Land</th>
    <th>Sprache</th>
    <th>Geburtstag</th>
    <th>Jahreseinkommen</th>
  </tr>
  <tr ng-repeat="person in persons | paged:offset:rowsPerPage">
    <td>{{person.firstname}}</td>
    <td>{{person.lastname}}</td>
    <td>{{person.sex}}</td>
    <td>{{person.street}}</td>
    <td>{{person.zip}} {{person.city}}</td>
    <td>{{person.country}}</td>
    <td>{{person.locale}}</td>
    <td>{{person.birthday}}</td>
    <td>{{person.income}}</td>
  </tr>  
</table>
